<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="description" content="Paste your notes to instantly turn them into a quiz you can study from!">
	<meta name="author" content="Leo Shao">
	<meta name="keywords" content="notes, quizzer, quiz, maker, generator, school">
	<link rel="icon" type="image/png" href="../static/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="../static/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="../static/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../static/favicon-128.png" sizes="128x128">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
	<title>Questions - Lumex</title>

	<style type="text/css">

		body {
			font-family: "Roboto";
		}

		.nav-link:hover{
			background:black;
		}

		@font-face {
    		font-family: "Roboto";
    		src: url("../static/fonts/Roboto-Regular.ttf");
		}

		.btn:hover{
			cursor:pointer;
		}

	</style>
</head>

<body>

	<nav class="navbar navbar-toggleable-md navbar-light bg-inverse text-white" style="height:45px;">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand text-white" href="../" style="margin-left:20%; width: 2000px; font-size: 150%">Lumex</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active text-white" href="../" style="font-size: 105%">Home <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link text-white" href="/about" style="font-size: 105%">About</a>
			</div>
		</div>
	</nav>

	<div class="container" style="margin-bottom:15px;">
	<form class="form">
      <div class="form-group">
        <ol style="margin-top: 20px">
        {% for question in questions %}
			<li style="font-size:24px;">
				<p style="margin:15px 0 0 0; font-size:24px;">{{ question|capfirst }}</p>
				<div class="input-group" style="margin-top:0;">
					<input type="text" class="form-control" placeholder="Enter Answer Here" aria-describedby="sizing-addon2" id="answer_{{ forloop.counter0 }}">
					<i class="fa" aria-hidden="true" style="margin-left:6px;margin-top:6px;color:red;position:absolute;" id="wrong_{{ forloop.counter0 }}"></i>
				</div>
			</li>
        {% endfor %}
        </ol>
        <div class="form-control-feedback" style="font-size:14px; margin-top:0; margin-left:5px; color:red;" id="feedback">{{ form.notes.errors|striptags }}</div>
      </div>
      <input type="button" value="Submit answers" class="btn btn-primary btn-block" onclick="checkAnswers()"/>  
      <div role="alert" id="score_id" style="display:hidden;margin-top:10px;">
  		
	  </div>
    </form>

	<script>

	function checkAnswers() {
		var answers = {{ answers|safe }};
		console.log(answers[0])

		var score = 0;
		var x;
		for(i = 0; i < answers.length; i++){
			x = document.getElementById("answer_"+i).value;
			if (x.toLowerCase() == answers[i].toLowerCase()){
				score++;
				document.getElementById("wrong_"+i).className = "fa";
			} else {
				document.getElementById("wrong_"+i).className += " fa-times";
			}
		}
		document.getElementById("score_id").style.display = "block";
		document.getElementById("score_id").innerHTML = "Score: " + (score/answers.length) * 100 + "%";
		if ((score/answers.length) * 100 < 50) {
			document.getElementById("score_id").className = "alert alert-danger"
		} else if ((score/answers.length) * 100 < 80) {
			document.getElementById("score_id").className = "alert alert-warning"
		} else {
			document.getElementById("score_id").className = "alert alert-success"
		}
	}

	</script>

	<footer class="footer" style="text-align: center;">
			<p class="text-muted">&copy; <script>document.write(new Date().getFullYear());</script> Lumex 
			</p>
	</footer>

	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="static/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
