<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="description" content="Paste your notes to instantly turn them into a quiz you can study from!">
	<meta name="author" content="Leo Shao">
	<meta name="keywords" content="notes, quizzer, quiz, maker, generator, school">
	<link rel="icon" type="image/png" href="../static/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="../static/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="../static/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../static/favicon-128.png" sizes="128x128">

	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
	<title>Questions - Notes Quizzer</title>
</head>

<body>

	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#" style="margin-left:18%;">Lumex</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="#" style="margin-left:10px;">Home <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="#" style="margin-left:10px;">About Us</a>
			</div>
		</div>
	</nav>

	<div class="container" style="margin-bottom:15px;">
	<ol style="margin-top: 20px">
		<!--{% for q in questions %} -->
		<li>
			<p>Question sample</p>
			<div class="input-group">
				
				<input type="text" class="form-control" placeholder="Enter Answer Here" aria-describedby="sizing-addon2">
			</div>
		</li>
		<!-- {% end for %} -->




	</ol>


	</div>









	<footer class="footer" style="margin-left:18%;">
		<div class="container">
			<p class="text-muted">&copy; <script>document.write(new Date().getFullYear());</script> Notes Quizzer · <a href="/about">About</a></p>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="static/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
